@import url("https://fonts.googleapis.com/css2?family=Lexend+Deca:wght@200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@media (max-width: 640px) {
  .responsive-sm-typo {
    font-size: clamp(32px, calc(2rem + ((1vw - 3.5px) * 5.5172)), 48px);
  }
}
@media (min-width: 640px) and (max-width: 1170px) {
  .responsive-md-typo {
    font-size: clamp(40px, calc(2.5rem + ((1vw - 6.41px) * 1.5123)), 48px);
  }
}
@media (min-width: 960px) and (max-width: 1170px) {
  .responsive-subscribe-typo {
    font-size: clamp(20.8px, calc(1.3rem + ((1vw - 9.6px) * 3.4286)), 28px);
  }
}
@media (min-width: 640px) and (max-width: 960px) {
  .responsive-subscribe-typo {
    font-size: clamp(17.6px, calc(1.1rem + ((1vw - 6.4px) * 3)), 27.2px);
  }
  .responsive-email-typo {
    font-size: clamp(20.8px, calc(1.3rem + ((1vw - 6.4px) * 1)), 24px);
  }
}

/* big text */
@media (max-width: 640px) {
  .responsive-ambler-text {
    font-size: clamp(90px, calc(5.625rem + ((1vw - 3px) * 17.6471)), 150px);
  }
}
@media (min-width: 640px) and (max-width: 1170px) {
  .responsive-ambler-text {
    font-size: clamp(150px, calc(9.375rem + ((1vw - 6.4px) * 20.7547)), 260px);
  }
}

/* Responsive Card (2nd) */
@media (max-width: 640px) {
  .responsive-card-heading {
    font-size: clamp(33px, calc(2.0625rem + ((1vw - 3px) * 4.4118)), 48px);
  }
}
@media (max-width: 640px) {
  .responsive-card-lorem {
    font-size: clamp(20px, calc(1.25rem + ((1vw - 3px) * 2.9412)), 30px);
  }
}

@media (min-width: 200px) and (max-width: 400px) {
  .navLogoHeading {
    font-size: clamp(13px, calc(0.8125rem + ((1vw - 3.2px) * 6.25)), 18px);
  }
}

.displayNav {
  display: block;
}

.navShadow {
  position: sticky;
  top: 0;
  z-index: 999;
  box-shadow: 0px 7px 15px rgba(0, 0, 0, 0.11);
  background-color: #f3f3f3;
  padding: 10px 0;
}

@media (max-width: 960px) {
  .heading {
    font-size: clamp(1.563rem, -1.7038rem + 17.423vw, 8.75rem);
  }
}

@media (max-width: 512px) {
  .specs-heading {
    font-size: clamp(30px, calc(1.875rem + ((1vw - 3px) * 8.4906)), 48px);
  }
  .specs-subheading {
    font-size: clamp(25px, calc(1.5625rem + ((1vw - 3px) * 2.3585)), 30px);
  }
}
